@{
    ViewData["Title"] = "Home Page";
}

<!--Header-->
<div class="text-center">
    <h1 class="display-4">Becoming Highly Effective</h1>
    <h4>Embark on a Journey of Personal Productivity</h4>
    <br />
    <img src="~/img/m8pic1.jpg" />
</div>
<br />

<!-- introduce site, explain purpose-->
<p>
    Inspired by "The 7 Habits of Highly Effective People" by Stephen Covey, we hope to provide a way to implement the Habit of "Putting First Things First"
    in an organized and manageable way. Covey introduces the concept of organizing tasks into four distinct quadrants, guiding individuals towards enhanced productivity:
</p>

<ul>
    <li>
        <p><b>Quadrant I: Important / Urgent</b> - Critical tasks that require immediate attention</p>
    </li>
    <li>
        <p><b>Quadrant II: Important / Not Urgent</b> - Tasks that are significant but not immediately demanding</p>
    </li>
    <li>
        <p><b>Quadrant III: Not Important / Urgent</b> - Tasks that may seem urgent but are not aligned with your true priorities</p>
    </li>
    <li>
        <p><b>Quadrant IV: Not Important / Not Urgent</b> - Tasks that neither contribute to your goals nor demand immediate attention</p>
    </li>
</ul>
<br />

<p>
    Organizing your tasks into these quadrants helps you foster a proactive approach to personal and professional growth, discern between what seems pressing and
    what truly contributes to your long-term success, and create space for what truly matters.
</p>
