@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Put quadrants here</h2>

@* 
We need to add in code here that connects to the databse? *@