@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SubmittedTask

<h2>Task</h2>

<form method="post">
    <input asp-for="TaskId" type="hidden">

    <label asp-for="TaskName">Task:</label>
    <input asp-for="TaskName" required>
    <br><br>

    <label asp-for="DueDate">Due Date:</label>
    <input asp-for="DueDate" type="date">
    <br><br>

    <label asp-for="Quadrant">Quadrant:</label>
    <select asp-for="Quadrant">
        <option value="" disabled selected>Select Option</option>
        <option value="1">Urgent and Important</option>
        <option value="2">Important and Not Urgent</option>
        <option value="3">Urgent and Not Important</option>
        <option value="4">Not Urgent and Not Important</option>
    </select>

    <input type="hidden" asp-for="CategoryName" />
    <label asp-for="CategoryId">Category:</label>
    <select asp-for="CategoryId" required>
        <option value="" disabled selected>Select Option</option>
        @foreach (Category c in ViewBag.Category)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
    <br><br>

    <label asp-for="IsCompleted">Completed:</label>
    <select asp-for="IsCompleted">
        <option value="" disabled selected>Select Option</option>
        <option value=true>Yes</option>
        <option value=false>No</option>
    </select>
    <br><br>

    <button type="submit">Submit</button>

    <div asp-validation-summary="All"></div>

</form>




